.character-page {
  width: 70%;
  min-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
  /*height: auto;*/
  /*height: 778px;*/
  min-height: 500px;
  box-shadow: 3px 3px 3px 3px #aaa;
  border-radius: 10px;
  background: #fff;
  
  /*background:red;*/
}

.character-page .appearance {
  text-align: center;
}


