.character-zone {
  /*background: green;*/
  /*display: flex;*/
  flex: 1;
  padding: 20px 10px 10px 10px;
  min-width: 200px;
  min-height: 400px;
  margin: 50px auto auto 10px;;
  /*border-top: 3px solid #2c2c2c;*/
}
