/*Character list component*/
@media (min-width: 800px) {
  .character-list {
  }
}

@media (max-width: 800px) {
  .character-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 !important;
    height: 20vh;
  }
}
@media (max-width: 500px) {
  .character-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
