/*Character list component*/
@media (min-width: 800px) {
  .character-list .resizable-text {
    font-size: 14px !important;
  }
  .character-list .active {
    font-size: 22px !important;
  }
}

@media (max-width: 800px) {
  .character-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 130px;
  }

  .character-list .resizable-text {
    font-size: 14px !important;
  }
  .character-list  .active {
    font-size: 18px !important;
  }
}

@media (max-width: 600px) {
  .character-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 130px;
  }

  .character-list .resizable-text {
    font-size: 9px !important;
  }
  .character-list  .active {
    font-size: 14px !important;
  }
}