.portrait {
  /*background: blue;*/
  flex: 1;
  display: flex;
  /*height: 60%;*/
  flex-flow: column;
  min-height: 500px;
}
 
.portrait .avatar {
  margin:0 auto;
  box-shadow: 5px 5px 5px 5px #2a2a2a;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

.portrait .hidden {
  display: none;
}