body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  
}

#bg {
  background: #00aced;
  /*background: rgba(0, 172, 237, 0.3);*/
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  opacity: 1;
}